*{
  transition: background-color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  // background-color: #f9fafb;
  background-color: #000000;
}

.dashboardLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboardMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboardContent {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background-color: #f5f5f5;
}